<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.mypetstore.persistence.LineItemMapper">

    <select id="getLineItemsByOrderId" resultType="LineItem">
    SELECT *
    FROM LINEITEM
    WHERE ORDERID = #{orderId}
  </select>

    <insert id="insertLineItem" parameterType="LineItem">
    INSERT INTO LINEITEM
    VALUES (#{orderId}, #{itemId}, #{quantity}, #{totalPrice});
  </insert>

    <select id="getTotalCount" resultType="int">
        SELECT SUM(QUANTITY)
        FROM LINEITEM
        WHERE ORDERID = #{orderId};
    </select>

    <select id="getSubTotal" resultType="float">
    SELECT SUM(TOTALPRICE)
    FROM LINEITEM
    WHERE ORDERID = #{orderId};
    </select>

    <delete id="deleteOrder">
        DELETE
        FROM LINEITEM
        WHERE ORDERID = #{orderId};
    </delete>
</mapper>