<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.mypetstore.persistence.OrderMapper">
    <select id="getOrderByOrderId" resultType="Order" >
    SELECT *
    FROM ORDERS
    WHERE ORDERID = #{orderId}
  </select>

    <select id="gerRecentOrder" resultType="Order">
        SELECT *
        FROM ORDERS
        WHERE USERNAME = #{username}
        ORDER BY ODERID
        DESC LIMIT 1;
    </select>

    <select id="getOrdersByUsername" parameterType="string" resultType="Order">
    SELECT *
    FROM ORDERS
    WHERE USERNAME = #{username}
    ORDER BY ORDERDATE;
  </select>

  <insert id="insertOrder" parameterType="order">
    INSERT INTO ORDERS
    (USERNAME, ORDERDATA, TOTALCOUNT, TOTALPRICE, PAID, SENDTO, CHECKOUT)
    VALUES(#{username}, #{orderDate}, #{totalCount}, #{totalPrice}, #{paid}, #{sendTo},#{checkout});
  </insert>


  <select id="getOrderId" resultType="String" >
    SELECT
        ORDERID
    FROM ORDERS
    WHERE USERNAME = #{username}
    ORDER BY ORDERID
    DESC LIMIT 1
  </select>

    <update id="updateOrder">
        UPDATE ORDERS
        SET PAID = #{paid},
         CHECKOUT = #{checkout},
         SENDTO = #{sendTo},
         USERNAME = #{username},
         ORDERDATA = #{orderDate},
         TOTALCOUNT = #{totalCount},
         SUBTOTAL = #{subTotal}
        WHERE ORDERID = #{orderId};
    </update>
</mapper>